body {
  background-color: #212121;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
}

.Header {
  background-color: #424242;
  color: #48a8f7;
  font-size: 2rem;
  height: 70px;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

.PageNotFound {
  color: #d32f2f;
  font-family: Courier , monospace;
  font-size: 1.8rem;
  padding-top: 100px;
  text-align: center;
}

.loding {
  color: #64b5f6;
  font-size: 2rem;
  padding: 15%;
  text-align: center;
}

/* Movie List */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px auto;
  max-width: 1200px;

}

.movie-card {
  background-color: white;
  box-shadow: 14px 15px 20px 3px rgba(22, 19, 19, 0.781);
  color: black;
  margin: 10px;
  margin-bottom: 30px;
  max-width: 350px;
}

.background-card {
  background-size: cover;
  display: flex;
  height: 200px;
  min-width: 350px;
}

.background-card h1 {
  align-self: flex-end;
  backdrop-filter: blur(5px);
  background-color: #0505053d;
  box-shadow: 0 0 50px 10px #0505053d;
  color: rgba(255, 255, 255, 0.863);
  font-size: 1.2rem;
  margin: 0 0 15px 10px;
  padding: 0 5px;
}

.movie-list p {
  height: 130px;
  margin: 16px 8px;
  overflow: auto;
}

.more-information {
  background-color: #424242;
  border-top: 1px solid black;
  height: 40px;
  position: relative;
  width: 100%;
}

a {
  color: #ffb74d;
  display: block;
  margin: 7px;
  text-decoration: none;
  width: 105px;
}

a:hover {
  color: #f57c00;
}

a:active {
  color: #81c784;
}

.box-controler-movie-list {
  background-color: rgba(104, 100, 100, 0.185);
  height: 40px;
  margin: 0;
  padding: 5px 0;
  width: 100%;
}

.box-controler-movie-list a {
  margin: 10px;
  width: 150px;
}

/* movie details */
.card-datails {
  background-color: white;
  box-shadow: 14px 15px 20px 3px rgba(22, 19, 19, 0.781);
  color: black;
  margin: 30px auto;
  max-width: 680px;
}

.header-movie-details img {
  width: 100%;
}

.header-movie-details p {
  backdrop-filter: blur(5px);
  background-color: #0505053d;
  box-shadow: 0 0 50px 10px #0505053d;
  color: rgba(255, 255, 255, 0.863);
  display: inline;
  font-size: 1.2rem;
  left: 10px;
  position: relative;
  top: -71px;
}

.descriptions-movie-details {
  margin-top: -38px;
  padding: 10px;
}

.options-movie-details {
  background-color: #424242;
  border-top: 1px solid black;
  min-height: 50px;
  position: relative;
  width: 100%;
}

.options-movie-details button {
  background: none;
  border: none;
  font-size: 0.75rem;
  margin: 10px;
  padding: 0;
}


.form-container {
  margin: 30px auto;
  max-width: 800px;
}

.form-container div button {
  background: none;
  border: none;
  color: #ffb74d;
  display: block;
  font-size: 1.1rem;
  margin: 20px auto;
  padding: 5px 20px;
  text-decoration: none;
  width: 110px;
}

.form-container button:hover {
  color: #f57c00;
}

.form-container button:active {
  color: #81c784;
}

form {
  width: 100%;
}

input, textarea, select {
  border-radius: 10px;
  font-size: 0.9rem;
  margin: 5px 0 25px;
  width: 100%;
}

textarea:focus, input:focus, select:focus {
  border: 0 none;
  box-shadow: 0 0 0 0;
  outline: 0;
}

input, select {
  height: 30px;
}

textarea {
  height: 60px;
}
